@model List<Category>
@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <a class="btn btn-success text-white mt-5" asp-action="Create">Create</a>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                       Category name
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var category in Model)
                {
                <tr>

                    <td>
                        @category.Name
                    </td>

                    <td>
                        <a class="btn btn-outline-dark">Detail</a>
                        <a class="btn btn-outline-primary mx-3" asp-action="Edit" asp-route-id="@category.Id">Edit</a>
                            <form class="d-inline-block" method="post" asp-action="Delete" asp-route-id="@category.Id">
                                <button type="submit" class="btn btn-outline-danger">Delete</button>
                            </form>
                    </td>
                </tr>        
                }


            </tbody>
        </table>
    </div>
</div>

