@model SliderImg
@{
    ViewData["Title"] = "Update";
}

<div class="container mt-5">

    <img style="width:70%; height:30%" src="~/img/@Model.Img" />

     <form class="forms-sample mt-5">
        <div class="form-group">
            <label for="exampleInputUsername1">Choose an image</label>
            <input type="file" class="form-control">
        </div>
        <a type="submit" class="btn btn-primary mr-2">Submit</a>
        <a class="btn btn-light" asp-action="Index">Cancel</a>
    </form>


</div>

