
@{
    ViewData["Title"] = "Create";
}

<form class="forms-sample my-5">
    <div class="form-group">
        <label for="exampleInputUsername1">Add Images</label>
        <input type="file" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputUsername1">Add a Name</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputUsername1">Add a Description</label>
        <textarea class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="exampleInputUsername1">Add a Price</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group">
        <label for="exampleInputUsername1">Add a Category</label>
        <select>
            <option>1</option>
        </select>
    </div>
    <a type="submit" class="btn btn-primary mr-2">Submit</a>
    <a class="btn btn-light" asp-action="Index">Cancel</a>
</form>


